@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Estilizando o Header */
header {
    padding: 25px;
    /*responsavel pelo preenchimento interno/tamanho*/
    background-color: rgb(0, 0, 0);
    /*Cor de fundo*/
    display: flex;
    /*tornando os itens Flex/lado a lado*/
    justify-content: space-evenly;
    /*Justificando o conteúdo ao centro*/
    align-items: center;
    /*responsável por alinhar verticalmente os itens*/
}

/* Estilizando o ícone */
header img {
   width: 100px;
}

/* ESTILIZANDO O TÍTULO */
header h1 {
    color: rgb(132, 32, 220);
    /*cor da letra*/
    font-size: 36px;
    /*Tamanho da letra*/
    font-family: "Playfair Display", serif;
}

.list-menu ul { /*Alteração na lista não ordenada (elemento pai)*/
    display: flex; /*tornando as ( li ) flex/lado a lado*/
    justify-content: center; /*Deixando elas centralizadas*/
    gap: 20px; /*Espaço entre as ( li )*/
}

.list-menu ul li { /*Alteração da Lista (li) (elemento filho)*/
    list-style: none; /*Removendo o estilo de lista aplicado por padrão*/
}

.list-menu ul li a {
    text-decoration: none; /*remoção do sublinhado (Decoração de texto: Nenhuma)*/
    color: rgb(132, 32, 220);
}


/* FIM DO CABEÇALHO */

/* SECTION 01 */
.img-section-01 {
    width: 260px; /*Largura da imagem*/
    margin-left: 20px;
}

.section-01 {
 display: flex; /*tornando as div lado a lado | Flexbox*/
 align-items: center;/*alinhamento vertical*/
 justify-content: space-evenly;/*alinhamento horizontal*/
 flex-direction: row; /*Direção das caixas*/
 background-color: black; /*cor de fundo*/
 padding: 40px;/*preenchimento interno*/
 gap: 60px;  /*espaço entre as div*/    
}

.div-02 p {
    color: rgb(132, 32, 220); /*cor da letra*/
    font-size: 32px; /*tamanho da font*/
    margin-left: 30px; /*Margem da esquerda - espaçamento*/
    text-align: center; /*alinhamento do texto*/
}
/* Texto em destaque da section-01 */
span {
    color: yellow; /*cor da letra do span*/
    font-size: 40px; /*tamanho da letra span*/
}
/* FIM DA SECTION-01 */



/* SECTION 02 */
/* ícones devem ser manipulados como textos (Font-size, color...) */
.fa-brands {
    font-size: 60px;
    color: blueviolet;
    
}
.section-02{
    background-color: black; /*cor de fundo*/
    padding: 50px; /*preenchimento interno*/
    color: white; /*cor das letras (H2 e P)*/
    display: flex; /*Tornando as Div lado a lado*/
    align-items: center; /*alinhamento vertical*/
    justify-content: center;/*alinhamento horizontal*/
    flex-direction: column;/*direção das caixas*/
    text-align: center;/*alinhando texto ao centro*/
}

.paragrafo-section-2 h2 {
    font-size: 30px;
    text-transform: uppercase;
}
.paragrafo-section-2 p {
    font-size: 25px;
}

.section3 {
    background-image: url(imagens/architecture-3128917_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    padding: 200px;
    display: flex;
    align-items: center; /*alinhamento vertical*/
    justify-content: center; /*alinhamento horizontal*/
    
}

.section3 button {
    padding: 7px;
    width: 150px;
    background-color: #ffffff; /*Cor do fundo*/
    color: black; /* cor da letra*/
    font-weight: 800; /* espessura da letra*/
    border: none; /* removendo as bordas do button */ 
}

.section04 div {
    width: 300px; /*largura da caixa*/
    height: 300px; /*altura da caixa*/
    background-color: gray; /*cor do fundo*/
    padding: 15px; /*preenchimento interno*/
    text-align: center; /*alinhamento dos text*/
}

.section04 {
    display: flex; /*deixando as div lado a lado*/
    align-items: center; /*alinhamento vertical*/
    justify-content: space-evenly; /*alinhamento horizontal*/
    gap: 30px; /*espaço entre as caixa */
    padding: 60px; /*preenchimento interno das div*/
}

/*estilização | caixa02*/
.caixa02 {
    background-image: url(imagens/halloween-959047_1280.jpg);
    /*inserindo img de fundo*/
    background-position: inherit; /*posicionamento img*/
    background-repeat: no-repeat; /*desativando a repetição*/
    background-size:cover; /*preenchimento completo img*/
    background-attachment: fixed; 
    
}
/*estilização caixa 01*/
.caixa01 h2 {
    font-size: 25px; /*tamanho da letra*/
    text-transform: uppercase; /*letra em alta*/
    margin-top: 30px; /*espaçamento superior*/
}

/*estilização do paragrafo caixa01*/
.caixa01 p {
    font-size: 20px; /*tamanho da letra*/
    font-weight: 700; /*peso da font*/
    margin-top: 15px;
    margin-bottom: 25px;
}

.fa-star, .fa-star-half {
    font-size: 25px;/*tamanho dos icon*/
    color: gold; /*cores dos icon*/
}

.fa-github {
    font-size: 70px;
    margin-top: 30px;
    margin-bottom: 15px;
    color: black;
}

.caixa03 p {
    font-size: 20px; /*tamanho da letra*/
    font-weight: 700; /*peso da font*/
}

.caixa03 button {
    padding: 7px; /*preenchimento interno*/
    background-color: black;/*cor de fundo */
    color: white; /* cor da letra */
    width: 130px; /*largura do button */
    border: none; /*removendo a borda*/
}

footer{
    background-color: black;
    padding: 80px;
    color: yellow;
    align-items: center;
    display: flex;
    flex-direction: column;

}

footer .fa-github, .fa-square-twitter, .fa-square-instagram {
    color: yellow;
    font-size: 40px;
    
}

.caixa-footer {
    text-align: center;
}